.env/

__pycache__
*.py[cod]
*.pyo
*.pyd
*.pyc

instance/

*.db
*.sqlite
*.sqlite3

.env
.env.*
*.env

node_modules/

frontend/dist/
dist/

.vite/
frontend/.vite/

.vscode/settings.json
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
